body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: url('img/anime1.jpg') no-repeat center center fixed;
  background-size: 1400px 900px;
  animation:12s scroll infinite;
  background-repeat: repeat;

}

#searchform{
  margin-left: 10px;
  margin-top: 50px;
}
#artistinput{
  width: 220px;
  opacity: 0.6;

}
#searchbutton{
  margin-left: 25px;
	background-image: url('img/mikey1.jpg');
	background-repeat: no-repeat;
  opacity: 0.8;

}
#audioplayer{
	width: 200px;
	height: 40px;
	margin-left:80px;
  margin-top: 7px;
  visibility: hidden;
}
.artist-table-wrapper {
  margin-left: 210px;
  margin-top: 30px;
  max-height: 300px;
  width: 250px;
  overflow: scroll;
}
.artisttable{
	margin: 1em 0;
 	min-width: 300px;
	border: solid black 2px;
	background: #34495E;
  color: #fff;
  opacity: 0.7;
}

tr {
	 border-top: 1px solid #ddd;
	 border-bottom: 1px solid #ddd;
 }
 td {
    display: block;


}

th, td {
    text-align: left;

    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

  }
tr {
	border-color: lighten(#34495E, 10%);
}
th, td {
	margin: .5em 1em;
	@media (min-width: $breakpoint-alpha) {
		padding: 1em !important;
	}
}
th, td:before {
	color: #dd5;
}

#preview1{
	color: white;
}
#tableheader{
	color:rgb(255,140,0);
}
#map{
  visibility: hidden;
  /*opacity: 0;*/
  margin-top: 100px;
	width: 80%;
	height: 300px;
  opacity: 0.8;

}
#mapheading{
  color: rgb(255,140,0);
  font-family: sans-serif;
  font-style: italic;
}
#myface{
  height: 35px;
  width:35px;
  margin-bottom: 25px;
}

#refreshbutton {
  margin-top: 0px;
  background-image: url('img/mikey1.jpg');
  opacity: 0.8;


}
#searchbar{
  margin-left: 200px;
  margin-top: 100px;

}
.fixed-content {
   top: 0;
   bottom:0;
   position:fixed;
   overflow-y:scroll;
   overflow-x:hidden;

}
#songname{
  height:30px;
  width:220px;

  color: white;
  margin-left: 50px;
  position: relative;
  margin: 0;
  line-height: 50px;
  text-align: center;
/* Starting position */
-moz-transform:translateX(100px);
-webkit-transform:translateX(100px);
transform:translateX(100%);
/* Apply animation to this element */
-moz-animation: example1 12s linear infinite;
-webkit-animation: example1 12s linear infinite;
animation: example1 12s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
0%   { -moz-transform: translateX(100%); }
100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
0%   { -webkit-transform: translateX(100%); }
100% { -webkit-transform: translateX(-100%); }
}




#refresh-zoom{
  background-image: url('img/mikey1.jpg');
  opacity: 0.8;
  margin-left: 250px;
  margin-top: 5px;
}
